a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: rgba(89,145,144,1);
}

a:visited{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a{
    color: rgba(89,145,144,1);
}

.link{
    background-color: rgb(218,224,224);
    padding: 0.5vh 2vw 0.5vh;
    margin-bottom: 5px;
}